{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

<div class="col-sm-9">
    <h3 class="mt-5 mb-3 alert alert-primary">About Page</h3>
    <h4 class="font-weight-bold ">We Are the Home for Computer Science and Engineering Leaders</h4>
    <p data-aos="flip-left">
        The MyBlog is the premier source for information, inspiration, and collaboration in computer
        science and engineering. Connecting members worldwide, the Computer Society empowers the people who advance
        technology by delivering tools for individuals at all stages of their professional careers. Our trusted
        resources include international conferences, peer-reviewed publications, a robust digital library, globally
        recognized standards, and continuous learning opportunities.
    </p>
    <p data-aos="flip-left">
        We strive to be the leading provider of technical information, community services, and personalized support to
        the world’s computer science and technology communities, as well as to celebrate the contributions of computer
        science and engineering professionals who develop new technologies and applications to improve the lives of
        people everywhere.
    </p>
    <p data-aos="flip-left">
        The purposes of the Society shall be scientific, literary, and educational in character. The Society shall
        strive to advance the theory, practice, and application of computer and information processing science and
        technology and shall maintain a high professional standing among its members. The Society shall promote
        cooperation and exchange of technical information among its members and to this end shall hold meetings for the
        presentation and discussion of technical papers, shall support life long professional education and
        certification, shall develop standards, shall publish technical journals, shall provide technical and
        professional products and services, and shall through its organization and other appropriate means provide for
        the needs of its members.
    </p>
    <p data-aos="flip-left">
        The scope of the society shall encompass all aspects of theory, design, practice, and application relating to
        computer and information processing science and technology.
    </p>
    <p data-aos="flip-left">
        We at MyBlog aggregate courses from many providers to make it easy to find the best courses on almost any
        subject, wherever they exist on the web.

        Our aim is to provide an unbiased platform for learners to discover the best sources to learn a new skill.
        Hackr.io lets learners identify the most suitable course of their choice by allowing them to filter courses by
        fee, course type (video/ebook etc.), spoken language, course reviews etc.

        All our submissions are completely crowdsourced. The Hackr.io team merely acts as a gatekeeper to ensure that
        only high quality submissions are approved and our users get the best possible experience on our platform.

        MyBlog is constantly evolving and we’re trying to make our platform better and more useful for our learners
        and educators around the world. If you have any suggestions on how to make Hackr.io more useful for you
    </p>
    <!-- <p data-aos="flip-left">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores vitae explicabo minima excepturi quod impedit
        consectetur, officiis commodi eligendi nemo veniam, itaque incidunt possimus recusandae error voluptatem
        doloremque aliquam, alias esse. Reprehenderit eveniet laboriosam magnam cum vitae iste culpa inventore molestias
        animi impedit dolor, excepturi libero assumenda provident accusamus consequatur.
    </p>
    <p data-aos="flip-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quo sed eos suscipit laudantium, illum hic
        nesciunt quasi assumenda minus ipsum quae blanditiis tempora dignissimos obcaecati esse veritatis eum culpa
        velit numquam, sequi, dolores sunt. Nemo eum possimus distinctio excepturi voluptates aspernatur illo, velit
        dolore culpa beatae, voluptatum exercitationem doloribus.
    </p>
    <p data-aos="flip-left">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores vitae explicabo minima excepturi quod impedit
        consectetur, officiis commodi eligendi nemo veniam, itaque incidunt possimus recusandae error voluptatem
        doloremque aliquam, alias esse. Reprehenderit eveniet laboriosam magnam cum vitae iste culpa inventore molestias
        animi impedit dolor, excepturi libero assumenda provident accusamus consequatur.
    </p> -->
</div>

{% include "blog/sidebar.html" %}


{% endblock content %}