{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

<div class="col-sm-9" >
    <h3 class="mt-5 mb-3 alert alert-primary">About Page</h3>
    <p data-aos="flip-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quo sed eos suscipit laudantium, illum hic
        nesciunt quasi assumenda minus ipsum quae blanditiis tempora dignissimos obcaecati esse veritatis eum culpa
        velit numquam, sequi, dolores sunt. Nemo eum possimus distinctio excepturi voluptates aspernatur illo, velit
        dolore culpa beatae, voluptatum exercitationem doloribus.
    </p>
    <p data-aos="flip-left">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores vitae explicabo minima excepturi quod impedit
        consectetur, officiis commodi eligendi nemo veniam, itaque incidunt possimus recusandae error voluptatem
        doloremque aliquam, alias esse. Reprehenderit eveniet laboriosam magnam cum vitae iste culpa inventore molestias
        animi impedit dolor, excepturi libero assumenda provident accusamus consequatur.
    </p>
    <p data-aos="flip-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quo sed eos suscipit laudantium, illum hic
        nesciunt quasi assumenda minus ipsum quae blanditiis tempora dignissimos obcaecati esse veritatis eum culpa
        velit numquam, sequi, dolores sunt. Nemo eum possimus distinctio excepturi voluptates aspernatur illo, velit
        dolore culpa beatae, voluptatum exercitationem doloribus.
    </p>
    <p data-aos="flip-left">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores vitae explicabo minima excepturi quod impedit
        consectetur, officiis commodi eligendi nemo veniam, itaque incidunt possimus recusandae error voluptatem
        doloremque aliquam, alias esse. Reprehenderit eveniet laboriosam magnam cum vitae iste culpa inventore molestias
        animi impedit dolor, excepturi libero assumenda provident accusamus consequatur.
    </p>
    <p data-aos="flip-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quo sed eos suscipit laudantium, illum hic
        nesciunt quasi assumenda minus ipsum quae blanditiis tempora dignissimos obcaecati esse veritatis eum culpa
        velit numquam, sequi, dolores sunt. Nemo eum possimus distinctio excepturi voluptates aspernatur illo, velit
        dolore culpa beatae, voluptatum exercitationem doloribus.
    </p>
    <p data-aos="flip-left">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores vitae explicabo minima excepturi quod impedit
        consectetur, officiis commodi eligendi nemo veniam, itaque incidunt possimus recusandae error voluptatem
        doloremque aliquam, alias esse. Reprehenderit eveniet laboriosam magnam cum vitae iste culpa inventore molestias
        animi impedit dolor, excepturi libero assumenda provident accusamus consequatur.
    </p>
    <p data-aos="flip-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quo sed eos suscipit laudantium, illum hic
        nesciunt quasi assumenda minus ipsum quae blanditiis tempora dignissimos obcaecati esse veritatis eum culpa
        velit numquam, sequi, dolores sunt. Nemo eum possimus distinctio excepturi voluptates aspernatur illo, velit
        dolore culpa beatae, voluptatum exercitationem doloribus.
    </p>
    <p data-aos="flip-left">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores vitae explicabo minima excepturi quod impedit
        consectetur, officiis commodi eligendi nemo veniam, itaque incidunt possimus recusandae error voluptatem
        doloremque aliquam, alias esse. Reprehenderit eveniet laboriosam magnam cum vitae iste culpa inventore molestias
        animi impedit dolor, excepturi libero assumenda provident accusamus consequatur.
    </p>
    <p data-aos="flip-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quo sed eos suscipit laudantium, illum hic
        nesciunt quasi assumenda minus ipsum quae blanditiis tempora dignissimos obcaecati esse veritatis eum culpa
        velit numquam, sequi, dolores sunt. Nemo eum possimus distinctio excepturi voluptates aspernatur illo, velit
        dolore culpa beatae, voluptatum exercitationem doloribus.
    </p>
    <p data-aos="flip-left">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores vitae explicabo minima excepturi quod impedit
        consectetur, officiis commodi eligendi nemo veniam, itaque incidunt possimus recusandae error voluptatem
        doloremque aliquam, alias esse. Reprehenderit eveniet laboriosam magnam cum vitae iste culpa inventore molestias
        animi impedit dolor, excepturi libero assumenda provident accusamus consequatur.
    </p>
</div>
<div class="col-sm-3 mt-5">
    <div class="position-fixed">
    <h2>Watch this also</h2>
    <div class="media">
        <img src="..." class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.
        </div>
    </div>
    <div class="media">
        <img src="..." class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.
        </div>
    </div>
    <div class="media">
        <img src="..." class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.
        </div>
    </div>
    </div>
</div>


{% endblock content %}