{% extends 'blog/base.html' %}


{% block msg %}

<h3 class="mt-3 alert alert-info">Change password</h3>

   <form action="" method="POST" novalidate class="mt-3">
        {% csrf_token %}
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <p>{{error}}</p>
          {% endfor %}
        {% endif %}

        {% for fm in form %}
          {{fm.label_tag}} {{fm}} <small class="text-danger"> {{fm.errors|striptags}} </small> <br><br>
        {% endfor %}
    
        <input type="submit" class='btn btn-success' value="Save">
        <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancel</a>
    </form>

{% endblock msg %}
   