{% load static %}


<div class="col-sm-3 mt-5 sidebar">
  <div class="card mb-3" style="width: 18rem;">
    <img src="{% static 'blog/images/business.jpg' %}" class="card-img-top" alt="business">
    <div class="card-body">
      <h5 class="card-title">Grow your Business</h5>
      <p class="card-text">Generating new business by growing your customer base is important to your business success.
      </p>
      <a href="https://nitesh5801.github.io/niteshwebd/" class="btn btn-info">Learn more</a>
    </div>
  </div>

  <div class="card mb-3" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'blog/images/Niet1.png' %}" alt="Niet">
    <div class="card-body">
      <h5 class="card-title">NIET</h5>
      <p class="card-text">NIET Greater Noida is one of the top engineering Colleges of UPTU in Delhi, NCR. We have the best faculty for B Tech and Mtech Courses</p>
      <a href="http://www.niet.co.in/" class="btn btn-info">Learn more</a>
    </div>
  </div>

  <div class="card mb-3" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'blog/images/1.jpg' %}" alt="Coding">
    <div class="card-body">
      <h5 class="card-title">CODING HORROR</h5>
      <p class="card-text">Learn how to code efficiently with us. We provide best courses and source code for placement drive also.</p>
      <a href="#" class="btn btn-info">Learn more</a>
    </div>
  </div>
</div>
